html ,
body {
  height: 100%;
}

* {
  margin: 0;
  font-family: 'Roboto', Arial, sans-serif;
}

#header {
  width: 100%;
  height: 56px;
  background: lightcyan;
  position: fixed;
  z-index: 1;
}

#sidebar {
  /* view port height */
  height: calc(100vh - 56px);
  width: 240px;
  /* background: lightgoldenrodyellow; */
  position: fixed;
  left: 0;
  top: 56px;
  overflow-y: scroll;
}

#sidebar ul {
  padding: 12px;
  border-bottom:0.8px solid rgba(0, 0, 0, 0.1);
}


#sidebar ul li {
  width: 180px;
  height: 40px;
  list-style: none;
  padding: 0 12px;
  text-decoration-line: none;
  cursor: pointer;
}

#sidebar ul li img{
  width: 24px;
  height: 24px;
  margin-right: 20px;
  top: 8px;
  position: relative;
  
}

#sidebar ul li span{
  font-size: 14px;
  /* vertical-align: middle; */
  line-height: 20px;

}

#sidebar li:hover {
  background: #F0F0F0;
  border-radius: 10px;
}

#sidebar #logingBox {
  width: 223px;
  box-sizing: border-box;
  padding: 16px 16px 16px 32px;
  border-bottom:0.8px solid rgba(0, 0, 0, 0.1);
}

#sidebar #logingBox #logingText {
  font-size: 14px;
  height: 40px;
  line-height: 20px;
}

#sidebar .sidebarTitle {
  padding: 6px 12px 4px 12px;
  height: 22px;
  line-height: 22px;
}

#sidebar #footer1 {
  box-sizing: border-box;
  width: 223px;
  height: 52px;
  padding: 16px 8px 0 24px;
  font-size: 13px;
  color: rgb(96, 96, 96);
}

#sidebar #footer2 {
  box-sizing: border-box;
  width: 223px;
  height: 48px;
  padding: 12px 8px 0 24px;
  font-size: 13px;
  color: rgb(96, 96, 96);
}

#sidebar span {
  margin-right: 5px;
  line-height: 18px;
}

#sidebar #copyright {
  box-sizing: border-box;
  width: 223px;
  padding: 16px 8px 16px 24px;
  font-size: 12px;
  color: rgb(144, 144, 144);
  line-height: 18px;
}

.logingButton {
  box-sizing: border-box;
  width: 83.6px;
  height: 36px;
  border: 0.8px solid rgba(0, 0, 0, 0.1);
  border-radius: 18px;
  margin-top: 12px;
  overflow: hidden;
  cursor: pointer;
}

.logingButton:hover {
  background-color: #def1ff;
  border: 0.8px solid rgba(0, 0, 0, 0);
  
}

.logingButton img {
  width: 28px;
  height: 26px;
  position: relative;
  margin:4px 0 0 7px;
  transform:translateY(-40px) ;
  filter: drop-shadow(rgb(6, 95, 212) 0 40px);
}

.logingButton div{
  display: inline-block;
  font-size: 14px;
  height: 34.4px;
  line-height: 34.4px;
  vertical-align: top;
  color: rgb(6, 95, 212);
}

#label {
  height: 56px;
  width: calc(100% - 240px);
  background: lightsalmon;
  margin-left: 240px;
  position: fixed;
  top: 56px;
  z-index: 1;
}

#contents {
  box-sizing: border-box;
  width: calc(100% - 240px);
  background: lightpink;
  margin-left: 240px;
  padding: 24px 24px 24px 24px;
  position: relative;
  top: 112px;
}
#contents .content {
  box-sizing: border-box;
  width: 288px;
  max-width: calc((100% - 64px)/4 - 4px);
  min-width: 260px;
  display: inline-block;
  margin: 0 8px 40px 8px;
  vertical-align: top;
}

#contents .content .thumbnailImg {
  width: 100%;
  border-radius: 12px;
  vertical-align: middle;
}

#contents .content .info {
  width: 100%;
  margin-top: 12px;
}

#contents .content .info .avatar {
  width: 36px;
  height: 36px;
  margin-right: 12px;
  position: relative;
  display: inline-block;
  text-decoration: none;
  vertical-align: top;
  box-sizing: border-box;
}

#contents .content .info .avatar .avatarImg {
  width: 100%;
  position: relative;
  border-radius: 50%;
}

#contents .content .info .details {
  box-sizing: border-box;
  width: 236px;
  display: inline-block;
  padding-right: 24px;
}

#contents .content .info .details .title {
  max-height: 44px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  margin-bottom: 4px;
  text-decoration-line: none;
  color: black;
}

#contents .content .info .details .title h4 {
  font-weight: normal;
}


#contents .content .info .details .youtuber {
  font-size: 14px;
  color: rgb(96, 96, 96);
  text-decoration-line: none;
}

#contents .content .info .details .data{
  font-size: 14px;
  color: rgb(96, 96, 96);
  
}

